<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog da Sarah</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.ico">
</head>
<body>
    <header>
        <h1>★ Memórias Sonoras ★</h1>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Sarah Dias Venâncio</p>
    </footer>
</body>
</html>